
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Caveat:wght@700&family=Lobster&family=Poppins:wght@200;300;500&family=Quicksand:wght@300&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Caveat:wght@700&family=Lobster&family=Poppins:wght@200;300;500&family=Raleway+Dots&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: monospace; */
    /* font-family: 'Raleway Dots', cursive; */
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.navbar h1{
    font-size: 20px;
}
.nav-first{
    width:10%;
}
.nav-middle{
    width: 40%;
}
.nav-middle ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-last{
    width: 20%;
    display: flex;
    justify-content: end;
}
.nav-last .bi{
    font-size: 35px;
    font-weight: lighter;
}
.nav-last .bi-list{
    display: none;
}
.hero-section{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.hero-section .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/phone-pc_1901x.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.phone1-text h1{
    rotate: 90deg;
    height:20%;
    width: 60%;
    font-size: 140px;
    position:absolute;
    top: 45%;
    left: -20%;
    font-weight: 100;
}
.hero-section .img-part .reddotimg{
    width: 250px;
    height: 50vh;
    background-image: url(./assets/red-dot-award_3680180d-a0e6-4362-8c4a-6d16bd7eaab3_250x.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.text-part h1{
    margin-block:30px ;
    font-size: 40px;
    font-weight: 100;
}
.text-part div{
    padding-bottom: 30px;
    font-size: 16px;
}
.text-part a{
    text-decoration: none;
    color: black;
}
.second-part{
    padding: 80px;
    display: flex;
    
}
.second-part div{
    padding-inline: 15px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
/* hero                               222222222222222 */

.hero-section2{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section2 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/PC1_1901x.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section2 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section2 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section2.text-part h1{
    margin-block:30px ;
    font-size: 60px;
    font-weight: 100;
}
.hero-section2.text-part div{
    padding-bottom: 30px;
    font-size: 16px;
}
.hero-section2 .text-text{
    padding: 0px;
}
.hero-section2 .text-text ol{
    padding-inline: 20px;
    margin-top: 20px;
}
/* herosection 3333333333333333333 */

.hero-section3{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section3 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/PC2_1901x.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section3 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section3 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section3.text-part h1{
    margin-block:30px ;
    font-size: 60px;
}
.hero-section3 .text-text{
    padding: 0px;
}

/* hero section4444444444444444444444 */

.hero-section4{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section4 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/nothingos_1901x.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section4 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section4 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section4 .text-part h1{
    margin-block:30px ;
    font-size: 50px;
    font-weight: 100;
}
.hero-section4 .text-part div{
    padding-bottom: 30px;
    font-size: 16px;
}
.hero-section4 div.text-text{
    padding: 0px;
}

.hero-section4 .text-text ol{
    padding-inline: 20px;
    margin-top: 20px;
}
/* hero section 555555555 */
.hero-section5{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section5 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/12Image_1280x1020_a11e1bb0-7ace-47b6-a8ad-ae34c33c5314_1901x\ \(1\).png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section5 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section5 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section5 .text-part h1{
    margin-block:30px ;
    font-size: 40px;
    font-weight: 100;
}
.hero-section5 .text-part div{
    padding-bottom: 30px;
    font-size: 16px;
}
.hero-section5 div.text-text{
    padding: 0px;
}

.hero-section5 .text-text ol{
    padding-inline: 20px;
    margin-top: 20px;
}
/* hero section 6666666666 */
.hero-section6{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section6 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/20Image_1280x1020_f434cfec-a3a3-424b-b600-dace5136db0c_1292x.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section6 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section6 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section6.text-part h1{
    margin-block:30px ;
    font-size: 60px;
}
.hero-section6 .text-text{
    padding: 0px;
}

/* section 77777777777777 */
.hero-section7{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section7 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/28Image_1280x1020_d3d29230-d678-437e-823a-e61c1765a028_1901x.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section7 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section7 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section7 .text-part h1{
    margin-block:30px ;
    font-size: 40px;
    font-weight: 100;
}
.hero-section7 .text-part div{
    padding-bottom: 30px;
    font-size: 16px;
}
.hero-section7 div.text-text{
    padding: 0px;
}

.hero-section7 .text-text ol{
    padding-inline: 20px;
    margin-top: 20px;
}

/* section8  88888888888888888 */
.hero-section8{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    letter-spacing: 2px;
}
.hero-section8 .img-part{
    width: 70%;
    height: 90vh;
    background-image: url(./assets/26Image_1280x1020_fc93e97b-7f99-4709-9253-8330d7d1c8ac_1292x.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section8 .text-part{
    padding-inline: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero-section8 .text-part span{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 15px;
}
.hero-section8 .text-part h1{
    margin-block:30px ;
    font-size: 30px;
}
.hero-section8 .text-text{
    padding: 0px;
}
.disclaimer{
    width: 100%;
    padding: 20px;
    background-color: rgb(178, 177, 177);
    display: flex;
    justify-content: space-between;
}
.disclaimer h4{
    width: 50%;
}
.disclaimer .list-one{
    width: 80%;
    font-size: 10px;
    letter-spacing: 2px;
    display: flex;
    padding-inline: 20px;
}
.disclaimer .list-two{
    width: 80%;
    font-size: 10px;
    letter-spacing: 2px;
    display: flex;
}
.footer{
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.footer-top{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-block: 50px;
    font-family: monospace;
    height: 60vh;
}
.footer h3{
    padding: 5px;
    
}
.footer #heading{
    margin-bottom: 30px;
}
.footer .footer-left{
    width: 15%;
}
.footer .footer-middle{
    width: 15%;
}
.footer .footer-last{
    width: 15%;
}
.footer .footer-mail{
    width: 30%;
}
.footer-mail input{
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.dividar{
    background-color: rgb(123, 120, 120);
    width: 100%;
    height: 1px;
}
.footer-bottom{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.footer-bottom .links{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.footer-bottom .icons{
    display: flex;
    width: 10%;
    justify-content: space-between;
}
.footer-bottom a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}




@media (max-width:768px) {
    .navbar{
        width: 100%;
        justify-content: space-around;
    }
    .nav-first{
        width: 50%;
    }
    .nav-middle{
        display: none;
    }
    .nav-last{
        width: 40%;
    }
    .nav-last .bi-list{
        display: inline;
        padding: 10px;
        font-size: 20px;
    }
    .hero-section{
        flex-direction: column;
        width: 100%;
    }
    .hero-section .img-part{
        width: 100%;
    }
    .hero-section div{
        width: 100%;
        padding-block: 10px;
    }
    .text-part h1{
        font-size: 40px;
        margin: 5px 0px;
    }
    .second-part{
        width: 100%;
        padding: 30px;
    }
    .second-part p{
        font-size: 18px;
    }
    .second-part h2{
        font-size: 20px;
    }
    .hero-section2{
        flex-direction: column;
        width: 100%;
    }
    .hero-section2 .img-part{
        width: 100%;
    }
    .hero-section2 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section3{
        flex-direction: column;
        width: 100%;
    }
    .hero-section3 .img-part{
        width: 100%;
    }
    .hero-section3 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section4{
        flex-direction: column;
        width: 100%;
    }
    .hero-section4 .img-part{
        width: 100%;
    }
    .hero-section4 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section5{
        flex-direction: column;
        width: 100%;
    }
    .hero-section5 .img-part{
        width: 100%;
    }
    .hero-section5 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section6{
        flex-direction: column;
        width: 100%;
    }
    .hero-section6 .img-part{
        width: 100%;
    }
    .hero-section6 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section7{
        flex-direction: column;
        width: 100%;
    }
    .hero-section7 .img-part{
        width: 100%;
    }
    .hero-section7 .text-part{
        width: 100%;
        padding: 10px;
    }
    .hero-section8{
        flex-direction: column;
        width: 100%;
    }
    .hero-section8 .img-part{
        width: 100%;
    }
    .hero-section8 .text-part{
        width: 100%;
        padding: 10px;
    }
    .footer{
        height: auto;
    }
    .footer .footer-top{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-inline-start: 30px;
    }
    .footer .footer-top #heading{
        color: aqua;
        margin-top: 10px;
    }
    .footer .footer-top .footer-mail{
        width: 90%;
        padding-inline: 10px;
    }
    .footer .footer-bottom{
        display: flex;
        width: 100%;
        height: auto;
    }
    .footer .footer-bottom .links{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: auto;
    }
    .footer .footer-bottom .links a{
        margin-block: 5px;
        
        font-size: 10px;
    }
    .footer .footer-bottom .icons a{
        margin-inline: 5px;
    }
}